.letter-loader {
    background-color: black;
    font-family: san serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;

}

.clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    overflow: clip;
    animation: letter-load 4s ease-in infinite;
}

.letter.fill {
    position: relative;
    color: rgba(255, 192, 203, 1);
    width: 100%;
}

.letter {
    text-align: center;
    white-space: nowrap;
    position: relative;
    text-transform: uppercase;
    font-size: 64px;
    margin: 0;
    padding: 0;
}

@keyframes letter-load {
    0% {
        width: 0%;
    }

    25% {
        width: 25%;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}

@-webkit-keyframes letter-load {
    0% {
        width: 0%;
    }

    25% {
        width: 25%;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}