/* Background data (Original source: https://subtlepatterns.com/grid-me/) */



@keyframes bg-scrolling-reverse {
    100% {
        background-position: var(--bg-width) var(--bg-height);
    }
}



body {
    background-color: #040a22;
    color: #ffffff;
}