/* Background data (Original source: https://subtlepatterns.com/grid-me/) */



@keyframes bg-scrolling-reverse {
    100% {
        background-position: var(--bg-width) var(--bg-height);
    }
}



body {
    background-color: #040a22;
    color: #ffffff;
    /* --bg-width: 50px;
    --bg-height: 50px;
    background: url("/darkness.webp") repeat 0 0;
    animation: bg-scrolling-reverse .92s infinite;
    animation-timing-function: linear;
    */
}