@tailwind base;
@tailwind components;
@tailwind utilities;

.nav_style {
    backdrop-filter: blur(10px);
    background-color: hsla(0, 0%, 100%, .06);
    border-radius: 30px;
    padding: 0.1em 2em;
    width: 80%;
}